*{
  margin: 0;
  padding: 0;
}

.parents{
  display: grid;
  width: 800px;
  border: 1px solid red;
  margin: auto;
  margin-top: 200px;
  grid-template-columns: 200px 200px 200px;
}

.child{
  background-color: blue;
  margin: 40px;
  padding: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.parentss{
  display: grid;
  border: 1px solid black;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-radius: 20px;
  padding: 40px;
}

.childs{
  background-color:blueviolet;
  text-align: center;
  color: white;
  padding: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}